.game{
    text-align: center;
    width: 255px;
    font-family: system-ui;
    margin: auto;
    color: #fff;
    font-weight: 500;
}

.title{
    background: coral;
    border-left: 4px solid yellow;
    border-right: 4px solid yellow;
    padding: 5px 0;
    margin: 5px 0;
}

span{
    color: #000;
}

.square{
    width: 80px;
    height: 80px;
    background: coral;
    float: left;
    margin: 2px;
    font-size: 50px;
}

.square:hover{
    background: #000;
    cursor: pointer;
}